/* src/App.css */
.App {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;

}

form {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

input {
  padding: 10px;
  font-size: 16px;
  width: 70%;
  margin-right: 10px;
  border-radius: 50px;
  border-color: #4CAF50;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 50px;
  border: none;
  background-color: #4CAF50;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}